contourpy==1.2.0
cycler==0.12.1
defusedxml==0.7.1
fonttools==4.49.0
Genshi==0.7.7
kiwisolver==1.4.5
lxml==5.1.0
MarkupSafe==2.1.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
passlib==1.7.4
pillow==10.2.0
polib==1.2.0
proteus==7.0.1
psycopg2==2.9.9
pycairo==1.26.0
PyGObject==3.46.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-magic==0.4.27
python-sql==1.4.3
python-stdnum==1.19
relatorio==0.10.1
simpleeval==0.9.13
six==1.16.0
tryton==7.0.6
trytond==7.0.7
trytond-company==7.0.0
trytond-country==7.0.0
trytond-currency==7.0.0
trytond-product==7.0.1
trytond_party==7.0.1
trytond_stock==7.0.3
ttkthemes==3.2.2
Werkzeug==3.0.1
